@layer reset, typography, layout, utilities, components;

@import url("custom-vars/themes.css");

@import url("layers/typography.css");
@import url("layers/reset.css");

body {
  color-scheme: dark light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

.main-header {
  view-transition-name: main-header;
  contain: layout;
}

.main-header-text {
  view-transition-name: main-header-text;
  contain: layout;
  width: fit-content;
}

@media (min-width: 530px) {
  .main-nav {
    view-transition-name: main-nav;
    contain: layout;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
  300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
  300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-new(main-nav):only-child {
  animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
  300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(main-nav):only-child {
  animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
  300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}
:root {
  --content-padding: 1.2rem;
}

.main-header {
  align-items: center;
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  contain: paint;
  display: flex;
  justify-content: space-between;
  height: 54px;
  padding: 0 var(--content-padding);
}

.back-and-title {
  align-items: center;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 31px 1fr;
  color: inherit;
  text-decoration: none;
}

.content {
  padding: var(--content-padding);
}

.content-alt {
  background: #d4bbff;
}

.body-grid {
  height: -webkit-fill-available;
}

.body-grid body {
  height: 100vh;
  height: -webkit-fill-available;
  display: grid;
  grid-template-rows: max-content 1fr;
}

@media (min-width: 530px) {
  .content-and-nav {
    display: grid;
    grid-template-columns: 1fr 180px;
  }
}

.main-nav {
  background: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: block;
}

.main-nav li a {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.7rem;
  padding: 1rem;
  color: var(--mat-sys-on-tertiary-container);
  text-decoration: none;
}

.main-nav li a::before {
  content: '➡️';
}

/* ===== STATE LAYER OPACITY TOKENS ===== */
:root {
  --mat-sys-dragged-state-layer-opacity: .16;
  --mat-sys-focus-state-layer-opacity: .12;
  --mat-sys-hover-state-layer-opacity: .08;
  --mat-sys-pressed-state-layer-opacity: .12;
}

/* ===== ELEVATION TOKENS ===== */
:root {
  --mat-sys-elevation-level0: none;
  --mat-sys-elevation-level1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --mat-sys-elevation-level2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --mat-sys-elevation-level3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --mat-sys-elevation-level4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --mat-sys-elevation-level5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}

